@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* DEFINIMOS LAS CARACTERISTICAS RESPONSIVE PARA 320px */

@media screen and (min-width: 320px){

    header{
        padding-left: 0px;
    }   
    
    div#titulo{
        width: auto;
        text-align: center;
    }

    li{
        padding-left: 0px;
    }
    
    .buscador{
        margin-top: 0px;
    }

    .searchbutton{
        margin-top: 0px;
    }

    section img{
        width: 250px;
        height: 250px;
    }

    div.footerflex a{
        margin: 0px;
    }

    .ytvideo{
        width: 280px;
        height: 158px;
    }

    section.contactform{
        height: calc(100vh - 202px);
    }
    
    section.technical{
        height: calc(100vh - 202px);
    }
    
    section.chart{
        height: calc(100vh - 202px);
    }

    #consulta{
         width: 13em;
         height: 8em;
    }

}

/* DEFINIMOS LAS CARACTERISTICAS RESPONSIVE PARA 768px */

@media screen and (min-width: 768px){

    header{
        padding-left: 16px;
    }       
    
    div#titulo{
        width: auto;
        text-align: center;
    }

    li{
        padding-left: 16px;
    }

    .buscador{
        margin-top: 0px;
    }

    .searchbutton{
        margin-top: 0px;
    }

    section img{
        width: 400px;
        height: 400px;
    }

    div.footerflex a{
        margin: 0px 12px 0px 12px;
    }

    .ytvideo{
        width: 560px;
        height: 315px;
    }

    section.contactform{
        height: calc(100vh - 162px);
    }
    
    section.technical{
        height: calc(100vh - 162px);
    }
    
    section.chart{
        height: calc(100vh - 162px);
    }

    #consulta{
        width: 18em;
        height: 10em;
   }

}

/* DEFINIMOS LAS CARACTERISTICAS RESPONSIVE PARA 1200px */

@media screen and (min-width: 1200px){

    header{
        padding-left: 16px;
    }   
    
    div#titulo{
        width: 300px;
    }

    li{
        padding-left: 16px;
    }

    .buscador{
        margin-top: 7px;
    }

    .searchbutton{
        margin-top: 7px;
    }

    section img{
        width: 400px;
        height: 400px;
    }

    div.footerflex a{
        margin: 0px 12px 0px 12px;
    }

    .ytvideo{
        width: 560px;
        height: 315px;
    }

    section.contactform{
        height: calc(100vh - 162px);
    }

    section.technical{
        height: calc(100vh - 162px);
    }
    
    section.chart{
        height: calc(100vh - 162px);
    }

    #consulta{
        width: 18em;
        height: 10em;
   }

}

/* DEFINIMOS LAS CARACTERISTICAS GENERALES */

body{
    font-family: Oswald, sans-serif;
}

header{
    font-family: 'Bangers', cursive;
    font-weight: 700;
    font-size: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(0, 162, 255);
    color: white;
    letter-spacing: 3px;
    text-shadow: 2px 2px #000000;
}

nav{
    background-color: rgb(32, 32, 32);
}

section{
    background-color: rgb(238, 238, 238);
    padding: 12px 12px 0px 12px;
    text-align: justify;
}

section h1{
    margin-bottom: 12px;
}

section img{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-top: 36px;
    margin-bottom: 36px;
}

section.contactdescription{
    margin-top: -12px;
    margin-left: -12px;
}

section.chart h3 a{
    color: rgb(0, 162, 255);;
}

footer{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: rgb(204, 204, 204);
    color: rgb(102, 102, 102);
}

footer div a{
    padding-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: rgb(102, 102, 102);
}

a{
    text-decoration: none;
    color: rgb(218, 218, 218);
}

li{
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom-style: solid;
    border-bottom-color: rgb(133, 133, 133);
    border-bottom-width: 1px;
}

ul{
    list-style: none;
}

.buscador{
    margin-left: 16px;
    width: 260px;
    height: 24px;
    text-align: center;
    border: none;
    border-radius: 15px;
}

.searchbutton{
    width: 24px;
    height: 24px;
}

.formbutton{
    font-family: Oswald, sans-serif;
    font-size: 16px;
    border-style: solid;
    color: white;
    background-color: rgb(0, 162, 255);
    border-color: rgb(0, 162, 255);
    border-radius: 16px;
    margin: 12px 0px 12px 0px;
    padding: 0px 8px 0px 8px;
    height: 32px;
    
}

.buybutton{
    font-family: Oswald, sans-serif;
    font-size: 16px;
    border-style: solid;
    color: white;
    background-color: rgb(0, 162, 255);
    border-color: rgb(0, 162, 255);
    border-radius: 16px;
    padding: 0px 8px 0px 8px;
    height: 32px;
    margin-bottom: 24px;
    
}

.item{
    margin: 0px 24px 56px 24px;
    padding: 12px 12px 0px 12px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
}

.productos{
    margin-top: 24px;
    margin-bottom: -12px;
}